process {
    withName:pe_Reformat {
      container = 'darcyabjones/bbmap:latest'
    }
    withName:pe_First_Fastqc {
      container = 'staphb/fastqc:latest'
    }
    withName:pe_Fastqscreen {
      container = 'stevetsa/fastqscreen:0.12.0'
    }
    withName:pe_Repair {
      container = 'darcyabjones/bbmap:latest'
    }
    withName:Multiqc {
      container = 'ewels/multiqc:v1.12'
    }
}
docker.enabled = true

profiles {
  conda {
    process.conda = '/opt/conda/envs/desensitize'
  }
}
